@model UpdateBlogDto

@if (Model.Title != null)
{
    <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
        <div class="thumb">
            <a href="/Blog/BlogDetails/@Html.DisplayFor(x=>x.SefUrl)">
                <img class="img-fluid" src="~/Images/BlogImages/@Html.DisplayFor(x=>x.ImageUrl)" alt="@Html.DisplayFor(x=>x.Title)" style="width:110px;height:70px;">
            </a>
        </div>
        <div class="arrow">
            <a href="/Blog/BlogDetails/@Html.DisplayFor(x=>x.SefUrl)">
                <span class="lnr text-white ti-arrow-left"></span>
            </a>
        </div>
        <div class="detials">
            <p>Önceki Post</p>
            <a href="/Blog/BlogDetails/@Html.DisplayFor(x=>x.SefUrl)">
                <h4 style="color: #2d2d2d;">@Html.DisplayFor(x => x.Title)</h4>
            </a>
        </div>
    </div>
}
