@model ResultContactDto

<div class="d-none d-sm-block mb-5 pb-4">
    <iframe src="@Html.DisplayFor(x=>x.MapUrl)" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>