@model ResultContactDto

<div class="header-info-left">
    <ul>
        <li><i class="ti-email"></i> @Html.DisplayFor(x => x.Email)</li>
        <li><i class="ti-mobile"></i> @Html.DisplayFor(x => x.Phone)</li>
    </ul>
</div>