@model List<ResultCourseDto>

<div class="popular-course section-padding30">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle text-center mb-70">
                    <span>Bu Haftanın En Popüler Kursu</span>
                    <h2>Popüler Kurslarımız</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var Courses in Model)
            {
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-course mb-40">
                        <div class="course-img" style="width:370px;height:175px;">
                            <img src="~/Images/CourseImages/@Courses.ImageUrl" alt="@Courses.CourseName">
                        </div>
                        <div class="course-caption">
                            <div class="course-cap-top">
                                <h4><a href="#">@Courses.CourseName</a></h4>
                            </div>
                            <div class="course-cap-mid d-flex justify-content-between">
                                <div class="course-ratting">
                                    @if(Courses.AverageScore == 0)
                                    {
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    }

                                    @for(int i = 0; i < Courses.AverageScore; i++)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                </div>
                                <ul><li>@Courses.CommentCount Puan</li></ul>
                            </div>
                            <div class="course-cap-bottom d-flex justify-content-between">
                                <ul>
                                    <li><i class="ti-user"></i> 562</li>
                                    <li><i class="ti-heart"></i> 562</li>
                                </ul>
                                <span style="color:red;">@Courses.Price.ToString("C")</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="browse-btn2 text-center mt-50">
                    <a href="/Course/Index" class="btn">Tüm Kursları Gör</a>
                </div>
            </div>
        </div>
    </div>
</div>