<footer>
    <!--? Footer Start-->
    <div class="footer-area footer-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- footer Heading -->
                <div class="footer-heading">
                    <div class="row justify-content-between">
                        <div class="col-xl-6 col-lg-7 col-md-10">
                            
                            <!-- Form -->
                            @await Component.InvokeAsync("_FooterNewsLetterComponentPartial")
                        </div>
                        @await Component.InvokeAsync("_FooterSocialMediaComponentPartial")
                    </div>
                </div>
                <!-- Footer Menu -->
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Hakkımızda</h4>
                                <ul>
                                    <li><a href="/Course/Index">Kurslarımız</a></li>
                                    <li><a href="/About/Index">Hakkımızda</a></li>
                                    <li><a href="/Blog/Index">Bloglar</a></li>
                                    <li><a href="/Teacher/Index">Eğitmenlerimiz</a></li>
                                    <li><a href="/Contact/Index">İletişim</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>İçeriklerimiz</h4>
                                <ul>
                                    <li><a href="#">Kurslarımız</a></li>
                                    <li><a href="#">Ücretsiz Kurslar</a></li>
                                    <li><a href="#">Akademik Çözümler</a></li>
                                    <li><a href="#">İş Çözümleri</a></li>
                                    <li><a href="#"> Government Solutions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Çalışma Planı</h4>
                                <ul>
                                    <li><a href="#">Kayıt Politikası</a></li>
                                    <li><a href="#">Başlangıç Aşaması</a></li>
                                    <li><a href="#">Online Başvuru</a></li>
                                    <li><a href="#">Soru Cevap Etkinliği</a></li>
                                    <li><a href="#">Ücretsiz Rehber</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Destek</h4>
                                <ul>
                                    <li><a href="#">Destek</a></li>
                                    <li><a href="/Contact/Index">İletişim</a></li>
                                    <li><a href="#">Sistem Gereksinimleri</a></li>
                                    <li><a href="/Register/SignUp">Ücretsiz Kaydolun</a></li>
                                    <li><a href="#">Geri Dönütler</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="footer-copy-right text-center">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>  Bilgi Akademisi ,Bu içerik, telif hakları ile korunmaktadır. İzinsiz kopyalanamaz.
                                | Sitenin Tasarımı <a href="https://cokkececiyazilim.com/" target="_blank">Çokkeçeci Yazılım</a> Tarafından Yapılmıştır
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>