<aside class="single_sidebar_widget search_widget">
    <form method="get" asp-action="SearchBlogPosts" asp-controller="Blog">
        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="query" placeholder='Aranacak Bloğu Giriniz...' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Aranacak Bloğu Giriniz...'" required>
                <div class="input-group-append">
                    <button class="btn" type="button"><i class="ti-search"></i></button>
                </div>
            </div>
        </div>
        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Ara</button>
    </form>
</aside>